+b.footer.container
	+e.copiright
		p © 2018  Авторские права защищены
	+b.social
		a.insta(href='http://instagram.com/akvagrim.brd' target='_blank')
		a.vk(href='http://vk.com/akvagrim_v_brd' target='_blank')
		