.footer
	margin-top -50px
	height 50px
	clear both
	background-color transparent
	position relative
	display flex
	justify-content space-between
	align-items center
	&__copiright
		& p 
			font-size 15px
.social
	display flex 
	
	& a
		margin-left 10px
		width 30px
		height 30px 
		display block
		font-size 30px
		background-size contain
.insta
	background url('./../img/instagram.svg')
.vk
	background url('./../img/vk.svg')
.viber
	background url('./../img/viber.svg')
	
	