extends _layout

block title
    title Title of template

    

block content
    
    .preloader
        img(src='./img/752.svg')

    .container
        +b.content
            +e.title
                h1 Про аквагримм
            +e.text
                p Аквагрим или facepainting – это искусство изменения внешности, перевоплощения с помощью специальных красок, предназначенных для рисунков на коже. #[br]Аквагрим – это настоящее маленькое чудо, волшебство на Вашем празднике, которое делает детский праздник ярким, веселым и незабываемым. #[br] Профессиональний аквагрим – это залог успеха любого детского праздника! #[br] Аквагрим  на праздник   сегодня  - это такой же неотъемлемый атрибут, как торт или аниматоры на День Рождения! Он помогает создать  оригинальность, неповторимость и колоритности Вашего праздника! #[br] Аквагрим соединяет в себе и занимательно времяпрепровождение, и элемент карнавала, и увлекательное перевоплощение в любимых персонажей для детей и взрослых. #[br] Детям  нравиться не только конечный результат, но и сам процесс преображения, за которым они наблюдают с  широко открытыми глазами, удивляясь, как под кистью художника-аквагримера, оживают любимые обожаемые сказочные герои, и очень ждут своей очереди. #[br]
                +e.img-wrapper
                    img(src='./img/319.jpg')
                p Аквагрим для взрослых – не менее увлекательная забава, чем для детей (ведь каждый взрослый – в душе ребенок), на абсолютно любых мероприятиях, а также в рамках тематических корпоративных праздников, на частных клубных вечеринках. А кто не видел футбольных фанатов накануне решающего матча во всей красе командных цветов? Ведь это тоже аквагрим! #[br] Аквагрим используют для подчеркивания образа актеры детских театров, чтобы дополнить или создать узнаваемый образ персонажа. Особую популярность аквагрим приобрел на тематических праздниках Хеллоуин. А под новый год аквагрим вносит незабываемую атмосферу карнавала – зайчик или лисичка, дракон, снежная королева или клоун – кем быть решать только Вам! #[br] Мероприятия на которые можно заказывать Аквагрим:
                    li Дни рождения и другие семейные праздники
                    li  Утренники в школе и детском саду
                    li  Открытие магазинов, развлекательных комплексов
                    li  Корпоративы
                    li  Свадьбы
                    li  Эксклюзивные образы для фотосессий (боди-арт)
                    li  Тематические вечеринки, хеллоуин
                    li  Рекламные акции
 
                p В  работе используюся только качественные, гипоаллергенные и абсолютно нетоксичные краски для аквагрима фирм Snazaroo ,TAG и FX. Смывается авквагрим обычной водой с мылом!)

block additional-scripts
    script.
        $(window).on('load', function() {
            $('.preloader').fadeOut()
        
        })                 
            