@font-face 
    font-family Pacifico
    font-weight 400
    src url('./fonts/Pacifico.ttf')
    // ,
    // url('./fonts/latoregular.woff'), 
    // url('./fonts/latoregular.woff2'),
    // url('./fonts/latoregular.eot')
@font-face 
    font-family ElMessiri
    font-weight 300
    src url('./fonts/ElMessiri-Bold.ttf')  
@font-face 
    font-family ElMessiri
    font-weight 700
    src url('./fonts/ElMessiri-Regular.ttf')    
// @font-face 
//     font-family Lato
//     font-weight 900
//     src url('./fonts/Roboto-Black.ttf')          
